.Input{
    outline: none;
    border: none;
    font-size: 18px;
    width: 50%;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.container{
    margin: auto;
    max-width: 80%;
    text-align: center;
}
